/* nav bar eka */
.position-absolute {
    width: 100vw;
}

.navbar {
    background-color: #1cb323e0;
    height: 80px;
}

.navbar img {
    margin-top: 7px;
}

#navbar-text {
    color: white;
}

#userName1 {
    color: white;
}

/* background image eka */
.img {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
    opacity: 0.5;
}

/* timer */
.timer {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: transparentwhite;
    padding: 10px 20px;
    border-radius: 8px;
    position: fixed;
    top: 90px;
    right: 80px;
}

/* quiz number */
#questionNumber {
    margin-left: 550px;
    margin-top: 50px;
}

/* quiz section */
.maincard1 {
    margin-left: 450px;
    top: 50px;
}

.card-body {
    height: 310px;
    margin-left: 25px;
}

.list-group {
    height: 224px;
}

.form-check {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.form-check:hover {
    cursor: pointer;
    background-color: #b8e1bae0;
}

.form-check .form-check-input {
    margin-left: 30px;
}

/* next button */
.next-btn {
    margin-left: 776px;
    margin-top: 66px;
    height: 28px;
    width: 100px;
    background-color: #5EB562;
    text-align: center;
    border-radius: 7px;
}