* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/assign05.jpg');
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.form-container {
    background-color: white;
    height: 690px;
    width: 436px;
    position: absolute;
}

p {
    font-size: large;
    align-items: center;
}